- flash.each do |message_type, message|
  div class=("alert-#{message_type} alert alert-dismissible fade show mb-3") 
    = message
    button.btn-close aria-label="Close" data-mdb-dismiss="alert" type="button" 
